@font-face {
font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
src: local('Century Gothic'), local('CenturyGothic'), url(https://fonts.gstatic.com/l/font?kit=Cn-vJt-LUxZV2ICofzrQFC41xsIsa3M&skey=93c2fdf69b410576&v=v8) format('woff2');
unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
src: local('Century Gothic'), local('CenturyGothic'), url(https://fonts.gstatic.com/l/font?kit=Cn-vJt-LUxZV2ICofzrQFC41xsIia3M&skey=93c2fdf69b410576&v=v8) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html, body{
   /*font-family: century-gothic, sans-serif; */
   font-family: "Century Gothic" !important;
   font-size: 14px;
}
 .disable{
  opacity: 0.5;
  cursor: not-allowed;
}
.pointer{
	cursor: pointer;
}
.web-only{
	display: '';
}
.mobile-only{
	display: none;
}

@media only screen and (max-width: 768px) {
 	.mobile-only{
 		display: inline;
 	}
 	.web-only{
		display: none;
	}
}
.new{
	font-weight: bold;
}
.bold{
	font-weight: bold;
}
.old{
	font-weight: normal;
}
.hide{
	display: none;
}
.img-bg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat !important;
}